#Url settings
APP_NAME='L2jMobius CT0'
APP_SCHEME='http'
APP_DOMAIN='acm.l2jmobius.net'
APP_CDN="${APP_DOMAIN}/assets"
DEMO_MODE=false

#Loginserver settings
DB_HOST='localhost'
DB_USER='root'
DB_PASS=''
DB_NAME='l2jmobius_loginserver'
LOGIN_HOST='127.0.0.1'
LOGIN_PORT='2106'

#Gameserver 1 settings
GS1_ACTIVE=true
GS1_NAME='Mobius Classic (x100)'
GS1_DB_HOST='localhost'
GS1_DB_USER='root'
GS1_DB_PASS=''
GS1_DB_NAME='l2jmobius_gs1'
GS1_GAME_HOST='127.0.0.1'
GS1_GAME_PORT='7777'

#Gameserver 2 settings
GS2_ACTIVE=true
GS2_NAME='Mobius H5 (x1)'
GS2_DB_HOST='localhost'
GS2_DB_USER='root'
GS2_DB_PASS=''
GS2_DB_NAME='l2jmobius_gs2'
GS2_GAME_HOST='127.0.0.1'
GS2_GAME_PORT='7777'

#Gameserver 3 settings
GS3_ACTIVE=false
GS3_NAME='Mobius C4 (x35)'
GS3_DB_HOST='localhost'
GS3_DB_USER='root'
GS3_DB_PASS=''
GS3_DB_NAME='l2jmobius_gs3'
GS3_GAME_HOST='127.0.0.1'
GS3_GAME_PORT='7777'

#Gameserver 4 settings
GS4_ACTIVE=false
GS4_NAME='Mobius x200'
GS4_DB_HOST='localhost'
GS4_DB_USER='root'
GS4_DB_PASS=''
GS4_DB_NAME='l2jmobius_gs4'
GS4_GAME_HOST='127.0.0.1'
GS4_GAME_PORT='7777'

#Gameserver 5 settings
GS5_ACTIVE=false
GS5_NAME='Mobius C6 (x2)'
GS5_DB_HOST='localhost'
GS5_DB_USER='root'
GS5_DB_PASS=''
GS5_DB_NAME='l2jmobius_gs5'
GS5_GAME_HOST='127.0.0.1'
GS5_GAME_PORT='7777'

#Gameserver 6 settings
GS6_ACTIVE=false
GS6_NAME='Mobius Essence (x1)'
GS6_DB_HOST='localhost'
GS6_DB_USER='root'
GS6_DB_PASS=''
GS6_DB_NAME='l2jmobius_gs6'
GS6_GAME_HOST='127.0.0.1'
GS6_GAME_PORT='7777'

#Gameserver 7 settings
GS7_ACTIVE=false
GS7_NAME='Mobius Essence (x8)'
GS7_DB_HOST='localhost'
GS7_DB_USER='root'
GS7_DB_PASS=''
GS7_DB_NAME='l2jmobius_gs7'
GS7_GAME_HOST='127.0.0.1'
GS7_GAME_PORT='7777'

#Gameserver 8 settings
GS8_ACTIVE=false
GS8_NAME='Mobius C6 PvP (x1000)'
GS8_DB_HOST='localhost'
GS8_DB_USER='root'
GS8_DB_PASS=''
GS8_DB_NAME='l2jmobius_gs8'
GS8_GAME_HOST='127.0.0.1'
GS8_GAME_PORT='7777'

#Stripe settings
STRIPE_SECRET_KEY="sk_test_51MXXXE8gWs235K0ZfzWrsR75dVPUTU3Iux7ngNmFXX7j4AQ5JcQsXsC83TkpxCdzWcX9nZa001r4uJELT"